.newsitems-container {
  .news-item-card {
    border-left: 4px solid #ffac0b;

    .news-item-header {
      padding: 25px;

      .news-item-title {
        font-size: 20px !important;
        margin-bottom: 0 !important;
        // white-space: nowrap;
        // overflow: hidden;
        // display: block;
        // text-overflow: ellipsis;
      }
    }

    .news-item-status {
      background-color: #dedede;
      align-items: center;
      display: flex;
      justify-content: center;

      .news-item-status-title {
        font-size: 14px !important;
        text-align: center;
        margin-bottom: 0 !important;
      }
    }
  }
  .mat-tab-label {
    margin-left: 16px;
  }

  .mat-tab-label.mat-tab-label-active {
    background-color: #173663;
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .newsitems-container {
    margin-top: 80px;
  }
}


