<div class="newsitems-container">
  <div fxLayout="row" class="generic-card news-item-card p-0" *ngIf="newsLetter">
    <div class="news-item-header" fxFlex="85">
      <mat-card-title class="news-item-title">{{newsLetter?.title}}</mat-card-title>
    </div>
    <div fxFlex="15" class="news-item-status"
      [ngStyle]="{'background-color': newsLetter?.is_closed  ? 'green' : (!newsLetter?.is_closed ? '#dedede' : null) }">
      <mat-card-title class="news-item-status-title"
        [ngStyle]="{'color': newsLetter?.is_closed  ? 'white' : (!newsLetter?.is_closed ? '#222' : null) }">
        {{newsLetter?.is_closed ? "CLOSED" : "ACTIVE" }}</mat-card-title>
    </div> 
  </div>
  <div>
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onSelectedTab($event)">
      <mat-tab label="UNCLASSIFIED">
        <app-unclassified [isActive]="selectedTab === 0"></app-unclassified>
      </mat-tab>
      <mat-tab label="RELEVANT">
        <app-relevant [isActive]="selectedTab === 1" [allNewItemList]="allNewItemList"></app-relevant>
      </mat-tab>
      <mat-tab label="NOT RELEVANT">
        <app-not-relevant [isActive]="selectedTab === 2"></app-not-relevant>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
