<div class="mailbox-content-container">
  <p>
    <mat-toolbar class="toolbar-white">
      <mat-toolbar-row class="p-1 d-flex">
        <span>
          <button mat-icon-button class="action-icon" aria-label="Archive icon-button" matTooltip="Archive"
            (click)="onArchiveMailClick()">
            <mat-icon>archive</mat-icon>
          </button>
        </span>
        <button mat-flat-button color="primary" (click)="onViewNewsletter()">
          View Newsletter
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  <div class="from-container d-flex flex-row align-items-center">
    <div class="message-box contact-box">
      <div class="message-widget contact-widget">
        <div class="d-flex flex-row">
          <div class="user-img">
            <span class="material-icons">
              account_circle
            </span>
            <!-- <span class="profile-status online pull-right">
            </span> -->
          </div>
          <div class="mail-content">
            <h3 class="mb-0">{{selectedMessage?.from_name}}</h3>
            <span class="mail-desc">{{selectedMessage?.subject}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="d-flex align-items-center justify-content-center">
      <p class="fs-12 mb-0 mr-1 text-secondary">{{selectedMessage?.date | date: 'MMM d, y, h:mm:ss a'}}</p>
      <button mat-icon-button class="action-icon" aria-label="Example icon-button with menu icon"
        (click)="openSnackBar()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="message-container ml-2">
    <p class="text-muted">{{selectedMessage?.content}}</p>
    <div [innerHtml]="selectedMessage?.attachment">
      <!-- <mat-divider class="my-2"></mat-divider> -->
      <div class="d-flex flex-row">
        <button mat-stroked-button class="mr-1" (click)="openReplyMailDialog()">Reply</button>
        <button mat-stroked-button color="primary" (click)="openForwardMailDialog()">Forward</button>
      </div>
    </div>
  </div>