.mailbox-content-container {
  background-color: #fff;

  .toolbar-white {
    background-color: #fff !important;

    .action-icon {
      color: #666;
      margin: 0 16px 0 0;
    }

    .message-container {
      padding: 16px 32px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .contact-box {
    padding: 8px 16px;
  }

  .mail-content {
    margin-left: 8px;
  }

  .from-container {
    margin-top: 64px !important;
  }

  .mat-toolbar {
    position: fixed;
    position: -webkit-sticky;
    border-bottom: 1px solid #dedede;
    box-shadow: none !important;
    top: 64px !important;
    z-index: 1000;
  }

  .mat-tab-label .mat-tab-label-content {
    text-transform: uppercase !important;
  }
  .message-container {
    padding: 0 18px;
  }
}
