<div class="container">
  <div class="chips-selection-container">
    <mat-form-field appearance="outline" style="width: '50%'">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Vinay"
        #input
      />
    </mat-form-field>
  </div>
  <div class="table-container pt-0">
    <div class="mat-elevation-z0">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>name.</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>email</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="roles">
          <mat-header-cell *matHeaderCellDef>Roles</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngFor="let roleId of element.roles">
              <span>{{ getRoleName(roleId) }}</span>
            </ng-container>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-row class="mat-row" *matNoDataRow>
          <mat-cell class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </mat-cell>
        </mat-row>
      </table>
    </div>
  </div>
</div>
