.role {
  margin-right: 4px;
  margin-left: 4px;
}

.role-list {
  padding: 10px;
}

.chips-selection-container {
  padding: 12px 16px 0 12px;
}

.chips-selection-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white !important;
  padding-bottom: 0;
}
