<div class="newsitems-graph-container container">
    <mat-card>
        <div class="mat-elevation-z0 px-2">
            <mat-table [dataSource]="dataSource" matSort class="w-100">

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> DATE </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="DATE">
                        {{row.newsletter_id.received_date | date: 'MMM d'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> TITLE </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="TITLE"> {{row.title}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="newsletter_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> NEWSLETTER </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="onViewNewsletter($event, row)" data-label="NEWSLETTER">
                        <button mat-stroked-button color="primary">View</button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="STATUS">
                        <p class="m-0 fw-bold d-flex align-items-center justify-start news-letter-status"
                            [ngStyle]="{'color': !row.isClosed ? 'green' : (row.isClosed ? 'red' : null) }">
                            <span class="material-icons mr-1 fs-16">
                                check_circle
                            </span>{{row.status_id.status}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateTo($event, row)"></mat-row>

                <!-- <mat-row class="mat-row" *matNoDataRow>
          <mat-cell class="mat-cell alert alert-danger">No data found</mat-cell>
        </mat-row> -->
            </mat-table>

            <mat-paginator [length]="total" [pageSizeOptions]="[50, 100]"></mat-paginator>
        </div>

    </mat-card>
</div>