.newsitems-graph-container {
  @media only screen and (min-width: 769px) {
    .mat-column-date {
      flex: none;
      width: 10% !important;
    }
    .news-letter-status {
      text-transform: capitalize;
    }

    .mat-column-title {
      flex: none;
      width: 70% !important;
      margin-right: 20px;
    }

    .mat-column-newsletter_id {
      flex: none;
      width: 10% !important;
    }

    .mat-column-status_id {
      flex: none;
      width: 15% !important;
    }
  }
}
