<h2 mat-dialog-title>Add Requirment</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addAssessmentForm">
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Requirement</mat-label>
        <textarea matInput id="requirment" formControlName='requirement'></textarea>
        <mat-error *ngIf="addAssessmentForm.controls.requirement.hasError('required') ">
          Kindly specify the requirments
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Impact</mat-label>
        <textarea matInput id="impact" formControlName='impact'></textarea>
        <mat-error *ngIf="addAssessmentForm.controls.impact.hasError('required') ">
          Kindly make a note of impact
        </mat-error>
      </mat-form-field>
    </p>
    <div>
      <mat-dialog-actions class="d-flex align-items-center justify-content-center p-2">
        <button mat-stroked-button class="mr-2" (click)=_bottomSheetRef.dismiss()>Cancel</button>
        <button mat-raised-button color="primary" type="button" (click)="onSubmit()"
          [disabled]="!addAssessmentForm.valid"> {{data && data.id  ? 'Update Requirement' : 'Add Requirement'}}
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</mat-dialog-content>