<h2 mat-dialog-title>New Message</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <p class="m-0">
      <mat-form-field class="w-100">
        <mat-label>To</mat-label>
        <input matInput placeholder="Recipients">
      </mat-form-field>
    </p>
    <p class="m-0">
      <mat-form-field class="w-100">
        <mat-label>Subject</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </p>
    <p>
    <mat-form-field class="w-100">
      <mat-label>Leave a note</mat-label>
      <textarea matInput placeholder="Hello there,"></textarea>
    </mat-form-field>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="footer-action">
  <div>
    <span>
      <button mat-icon-button class="action-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>text_format</mat-icon>
      </button>
      <button mat-icon-button class="action-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button mat-icon-button class="action-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>insert_link</mat-icon>
      </button>
      <button mat-icon-button class="action-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>insert_emoticon</mat-icon>
      </button>
      <button mat-icon-button class="action-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>insert_drive_file</mat-icon>
      </button>
    </span>
  </div>
  <div class="spacer"></div>
  <div>
    <button color="primary" mat-button mat-dialog-close cdkFocusInitial>Send</button>
  </div>


</mat-dialog-actions>
