.inbox-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .mailbox-list {
    width: 25%;
    overflow: auto;
    border-right: 1px solid #dedede;
    overflow-x: hidden;
  }

  .mailbox-content {
    width: 75%;
    overflow-y: auto;
    background-color: #fff;
  }
  .w-100 {
    width: 100% !important;
  }
  .d-none {
    display: block;
  }
  .d-block {
    display: block;
  }
}

