<div class="inbox-container container">
  <div class="mailbox-list">
    <app-mailbox-list [mailList]="mailList" (selectedMessageChangeO)="selectedMessageChange($event)"></app-mailbox-list>
  </div>
  <div class="mailbox-content">
    <app-mailbox-content [selectedMessage]="selectedMessage"></app-mailbox-content>
  </div>
</div>

