.login-container {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url('../../assets/images/bg-image.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  width: 100%;
}


.login-content {
  backdrop-filter: blur(5px);
  padding: 20px 20px 40px 20px;
  border-radius: 12px;
  width: 360px;
  display: block;
  margin: 0 auto;
  border: 1px solid #dedede;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.text-danger {
  color: red;
  margin-bottom: 20px;
  padding-left: 20px;
  display: block;
}



.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}

.mat-stroked-button {
  width: 100%;
  margin-top: 15px;
}
