<div class="login-container">
  <div class="login-content">
    <h1 class="fw-bold">LOGIN</h1>
    <div class="shadow-none">
      <form [formGroup]="loginForm" novalidate>
        <mat-form-field appearance="outline">
          <mat-icon class="mr-1" color="primary" matPrefix>person_outline</mat-icon>
          <input autofocus type="text" matInput placeholder="User ID" formControlName="email" autocomplete="off"
          >
        </mat-form-field>
        <span class="text-danger" *ngIf="(loginFormControl.email.touched) && loginFormControl.email.errors?.required">
          Email is required
        </span>
        <mat-form-field appearance="outline">
          <mat-icon class="mr-1" color="primary" matPrefix>lock_outline</mat-icon>
          <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password" autocomplete="off">
        </mat-form-field>
        <span class="text-danger" *ngIf="(loginFormControl.password.touched) && loginFormControl.password.errors?.required">
          Password is required
        </span>
      </form>
      <div class="d-flex align-items-center flex-row">
        <button type="button" routerLink='/register' mat-stroked-button class="mr-1 mw-150" color="primary">Reset Password</button>
        <button type="button" mat-raised-button color="primary" class="mr-1 mw-150" (click)="login()">Login</button>
      </div>
    </div>
  </div>
</div>
