.mailbox-container {
  height: 100%;
  background-color: '#f5f6f8';
  .mat-search-field {
    padding: 8px 16px 0;
  }
  .list-container {
    display: flex;
    flex-direction: column;
    .list-item {
      border-bottom: 1px solid #dedede;
      cursor: pointer;
    }
    .list-item:hover {
      background-color: #fff;
    }
    .active {
      background-color: white;
      border-left: 4px solid #FFAC0B;
      cursor: normal;
    }
    .activeIcon {
      color: #1A91DA;
      font-weight: bold;
    }
    .subject-line {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: slategray;
  }

  .mat-form-field-label {
    color: slategray;
  }

  .mat-form-field-underline {
    background-color: slategray;
  }

  .mat-form-field-ripple {
    background-color: slategray;
  }

  .mat-form-field-required-marker {
    color: slategray;
  }
}
