<div class="mailbox-container">
  <div class="mat-search-field">
    <mat-form-field appearance="legacy" class="w-100">
      <input class="toolbar-search" matInput placeholder="Search" [(ngModel)]="searchString">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <mat-list class="list-container">
    <mat-list-item class="list-item" *ngFor="let message of mailList | seacrhFilter:searchString; let i=index" [class.active]="selectedIndex==i" (click)="onSelection(message, i)">
      <p matLine class="fs-12 d-flex align-items-center justify-between">{{message.from_name}}<span class="list-date text-secondary">{{message.date  | date: 'MMM d'}}</span></p>
      <!-- <p matLine class="fs-12 d-flex align-items-center justify-between" style="margin: -2px 0 2px 0;">{{message.from_address}}</p> -->
      <h2 matLine class="fs-16 subject-line"><b style="font-weight: 700;">{{message.subject}} </b></h2>
    </mat-list-item>
  </mat-list>
</div>
