<div class="form-container">
  <mat-card style="width: 50%;" class="mat-elevation-z0">
    <mat-card-header class="form-header border-left-accent">
      <mat-card-title class="m-0">Intiate Assessment</mat-card-title>
    </mat-card-header>
    <form [formGroup]="intiateAssessmentForm" (ngSubmit)='onSubmit()'>
      <mat-card-content style="padding: 12px 24px;">
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" id="title" readonly>
            <mat-error *ngIf="intiateAssessmentForm.controls.title.hasError('required')">
              Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p class="d-flex align-items-center justify-between">
          <mat-form-field appearance="legacy" class="w-50">
            <mat-label>Awareness Date</mat-label>
            <input matInput (focus)="picker1.open()" (click)="picker1.open()" [matDatepicker]="picker1"
              id="awareness_date" formControlName="awareness_date" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="intiateAssessmentForm.controls.awareness_date.hasError('required')">
              Awareness date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="legacy" class="w-50">
            <mat-label>Assessment Due Date</mat-label>
            <input matInput (focus)="picker2.open()" (click)="picker2.open()" [matDatepicker]="picker2"
              id="assessment_due_date" formControlName="assessment_due_date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="intiateAssessmentForm.controls.assessment_due_date.hasError('required')">
              Assessment due date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <input type="text" placeholder="Region Impacted" aria-label="Number" matInput id="region_impacted"
              formControlName="region_impacted">
            <mat-error *ngIf="intiateAssessmentForm.controls.region_impacted.hasError('required')">
              Regions impacted are <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <!-- <input type="text" placeholder="Country Impacted" aria-label="Number" matInput id="countries_impacted"
              formControlName="countries_impacted"> -->
            <mat-select id="countries_impacted" placeholder="Country Impacted" formControlName="countries_impacted"
              [errorStateMatcher]="matcher">
              <mat-option *ngFor="let country of countries" [value]="country.label">{{country.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="intiateAssessmentForm.controls.countries_impacted.hasError('required')">
              Countries impacted are <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Process impacted</mat-label>
            <mat-select id="process" formControlName="process" multiple [errorStateMatcher]="matcher">
              <mat-option *ngFor="let process of processes" [value]="process.id">{{process.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="intiateAssessmentForm.controls.process.hasError('required') ">
              Process impacted is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <input type="text" placeholder="Function Impacted" aria-label="Number" matInput id="function_impacted"
              formControlName="function_impacted">
            <mat-error *ngIf="intiateAssessmentForm.controls.function_impacted.hasError('required')">
              Functions impacted are <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Source</mat-label>
            <input matInput formControlName="source" id="source">
            <mat-error *ngIf="intiateAssessmentForm.controls.source.hasError('required')">
              Source is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <app-upload-files (removeUploadedFile)="removeUploadedFile()" (uploadedUrl)="onFileUploadComplete($event)"></app-upload-files>
        </p>


      </mat-card-content>
      <div style="background-color: #f4f6f8; border-top: 1px solid #dedede; padding: 4px">
        <mat-card-actions class="d-flex justify-end align-items-center">
          <button mat-flat-button (click)="onBackClick()">Cancel</button>
          <button mat-raised-button color="primary" class="ml-2" type="submit"
            [disabled]="!intiateAssessmentForm.valid">Intiate Assessment</button>
        </mat-card-actions>
      </div>
    </form>

  </mat-card>
</div>
