.relevant-container {
  .chips-selection-container {
    padding: 12px 16px 0 12px;
    align-items: center;
    justify-content: space-between;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white !important;
    padding-bottom: 0;
  }

  .news-letter-status {
    font-weight: bold;
    color: green;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  @media only screen and (min-width: 769px) {
    .mat-column-date {
      flex: none;
      width: 10% !important;
    }

    .mat-column-title {
      flex: none;
      width: 70% !important;
      margin-right: 20px;
    }

    .mat-column-newsletter_id {
      flex: none;
      width: 10% !important;
    }

    .mat-column-status {
      flex: none;
      width: 15% !important;
    }
  }
}
