<div class="relevant-container container">
  <div class="chips-selection-container">
    <div class="align-items-center justify-center" style="display: flex">
      <mat-form-field appearance="outline" style="width: '50%'; margin-right: 20px"
        class="align-items-center justify-center">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="News" #input>
      </mat-form-field>
      <mat-chip-list aria-label="category selection" class="justify-end">
        <mat-chip (click)="changeClassification('ALL')" [selected]="selectedClassification === 'ALL'">All</mat-chip>
        <mat-chip (click)="changeClassification('IA')" [selected]="selectedClassification === 'IA'">Impact Assessment
        </mat-chip>
        <mat-chip (click)="changeClassification('CQ')" [selected]="selectedClassification === 'CQ'">Compliance and
          Quality</mat-chip>
        <mat-chip (click)="changeClassification('NL')" [selected]="selectedClassification === 'NL'">News letter
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <mat-card>
    <div class="mat-elevation-z0 px-2">
      <mat-table [dataSource]="dataSource" matSort class="w-100">

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> DATE </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="DATE"> {{row.newsletter_id.received_date | date: 'MMM d'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> TITLE </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="TITLE"> {{row.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> CLASSIFICATION </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="STATUS">
            <p class="m-0 fw-bold d-flex align-items-center justify-start news-letter-status">
              {{getClassificationString(row)}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="newsletter_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> NEWSLETTER </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="navigateTo(row)" data-label="NEWSLETTER">
            <button mat-stroked-button color="primary">View</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateTo(row)"></mat-row>

        <!-- <mat-row class="mat-row" *matNoDataRow>
          <mat-cell class="mat-cell alert alert-danger">No data found</mat-cell>
        </mat-row> -->
      </mat-table>

      <mat-paginator [length]="total" [pageSizeOptions]="[50, 100]"></mat-paginator>
    </div>

  </mat-card>
</div>