<div class="upload-container">
    <input type="file" (change)="fileUpload($event)" />
    <p class="remove" (click)="removeFile()" *ngIf="fileUrl">{{fileName ? fileName : fileUrl}} <span style="margin-left: 10px;
      margin-right: 10px;
      font-size: 20px;">x</span></p>
</div>
