.upload-container {
  border: 1px dashed #dedede;
  border-radius: 6px;
  padding: 16px;
  background: #f4f6f8;
}
.remove{
  background: #ccc;
  width: min-content;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}
