<div class="container dashboard-container">
  <div fxLayout="row" fxLayout.xs="column">
    <mat-card fxFlex="25">
      <mat-card-header>
        <mat-card-title class="fs-32">{{ newsletterCount }}</mat-card-title>
        <mat-card-subtitle style="color: blue"
          >Received News letters</mat-card-subtitle
        >
      </mat-card-header>
    </mat-card>
    <mat-card fxFlex="25">
      <mat-card-header>
        <mat-card-title class="fs-32">{{ overdueTaskCount }}</mat-card-title>
        <mat-card-subtitle style="color: red">Overdue Items</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card fxFlex="25">
      <mat-card-header>
        <mat-card-title class="fs-32">{{ openItemCount }}</mat-card-title>
        <mat-card-subtitle style="color: green">Open Items</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card fxFlex="25">
      <mat-card-header>
        <mat-card-title class="fs-32">{{ closedItemsCount }}</mat-card-title>
        <mat-card-subtitle style="color: grey">Closed Items</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <mat-card class="geeric-card" fxFlex="75">
      <mat-card-header>
        <mat-card-title>Trends over time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column" class="filter-bar">
          <p>
            <mat-form-field appearance="legacy">
              <mat-select
                id="classification"
                placeholder="Classification"
                (selectionChange)="onChangeClassifiction()"
                [(ngModel)]="classificationId"
              >
                <mat-option
                  *ngFor="let item of classifications"
                  [value]="'' + item.id"
                  >{{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy">
              <!-- <input type="text" placeholder="Country Impacted" aria-label="Number" matInput id="countries_impacted"
                                        formControlName="countries_impacted"> -->
              <mat-select
                id="filter"
                (selectionChange)="onChangeFilter()"
                placeholder="Filter"
                [(ngModel)]="filter"
              >
                <mat-option *ngFor="let item of filters" [value]="item"
                  >{{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <!-- <button mat-raised-button color="primary" class="ml-2" type="button" (click)="getGraphData()">Show
            Data</button> -->
        </div>
        <!-- <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi" (select)="onSelect($event)"
          (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </ngx-charts-line-chart> -->
        <ngx-charts-bar-horizontal-2d
          [view]="view"
          [scheme]="colorScheme"
          [schemeType]="schemeType"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [legendPosition]="legendPosition"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onGraphSelect($event)"
        >
        </ngx-charts-bar-horizontal-2d>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="25">
      <mat-card-header class="p-3 border-bottom">
        <mat-card-title class="fs-24">{{ relevantCount }}</mat-card-title>
        <mat-card-subtitle>Relevant</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header class="p-3 border-bottom">
        <mat-card-title class="fs-24">{{ notRelevantCount }}</mat-card-title>
        <mat-card-subtitle>Not Relevant</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header class="p-3 border-bottom">
        <mat-card-title class="fs-24">{{ impactClassCount }}</mat-card-title>
        <mat-card-subtitle>Impact Assessment</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header class="p-3 border-bottom">
        <mat-card-title class="fs-24">{{
          complianceClassCount
        }}</mat-card-title>
        <mat-card-subtitle>Compliance</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header class="p-3 border-bottom">
        <mat-card-title class="fs-24">{{
          newsletterClassCount
        }}</mat-card-title>
        <mat-card-subtitle>News Letters</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <!-- <div>
    <div class="generic-card">
      <mat-card-title>My Tasks</mat-card-title>
      <mat-card-subtitle style="color: green; font-size: 12px">13 open tasks</mat-card-subtitle>
      <mat-selection-list #task [multiple]="false">
        <mat-list-option *ngFor="let task of myTasks" [value]="task">
          <mat-list-item class="w-100 align-items-center justify-between">
            <div matLine>{{task}}</div>
            <mat-chip-list>
              <mat-chip>Urgent</mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div> -->
</div>
