.dashboard-container {
  .filter-bar {
    height: 80px;
    width: 100%;
    justify-content: space-around;

    button {
      width: 100px;
      height: 40px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-container {
    margin-top: 64px;
  }
}
