<div class="configuration-container">
  <div class="config-container" *ngIf="configuration">
    <table>
      <tbody>
        <tr>
          <th>Email</th>
          <td>{{configuration.email}}</td>
        </tr>
        <tr>
          <th>Host</th>
          <td>{{configuration.host}}</td>
        </tr>
        <tr>
          <th>Password</th>
          <td>{{configuration.password}}</td>
        </tr>
        <tr>
          <th>Sender Filter</th>
          <td>{{configuration.sender_filter?configuration.sender_filter:'N/A'}}</td>
        </tr>
        <tr>
          <th>Subject Filter</th>
          <td>{{configuration.subject_filter}}</td>
        </tr>
        <tr>
          <th>Email Sent From</th>
          <td>{{configuration.email_sent_from}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>