.configuration-container {
  .config-container {
    background-color: white;
    margin: 16px;

    tr {
      padding: 10px;
    }

    th {
      width: 20%;
      background: #efefef;
      text-align: start;
      margin-left: 10px;
      padding: 10px !important;
    }
  }
}
