.news-letter-containr {
  overflow-x: hidden !important;

  .search-bar-container {
    padding: 8px 14px 0 14px;

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: white !important;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  .mat-cell {
    padding: 4px 2px !important;
  }

  .mat-row {
    cursor: pointer;
    font-size: 13px;
  }

  .mat-row:hover {
    background-color: #f4f6f8;
    box-shadow: 0px 0px 4px 2px #fafafa;
    border-radius: 6px;
    border: 1px solid #808080;
  }

  .mat-column-title {
    flex: none;
    width: 400px;
  }

  @media only screen and (min-width: 769px) {
    .mat-column-id {
      flex: none;
      width: 5%;
    }

    .mat-column-title {
      flex: none;
      width: 55% !important;
      margin-right: 16px;
    }

    .mat-column-received_date {
      flex: none;
      width: 10%;
    }

    .mat-column-total_items {
      flex: none;
      width: 10%;
    }

    .mat-column-active_items {
      flex: none;
      width: 10%;
    }

    .mat-column-status {
      flex: none;
      width: 10%;
    }
  }
}
