<div class="news-letter-containr container">
  <div class="search-bar-container">
    <mat-form-field appearance="outline" style="width: '50%'">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Weekly Alert" #input />
    </mat-form-field>
  </div>
  <div class="table-container">
    <div class="mat-elevation-z0 px-2">
      <mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="ID">{{
            row.id
          }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TITLE</mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="TITLE" style="width: 100px">
            {{ row.title }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="received_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>RECEIVED</mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="RECEIVED">
            {{ row.received_date | date: "MMM d" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total_items">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL</mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="TOTAL">
            {{ row.total_items }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="active_items">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ACTIVE</mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="ACTIVE" class="text-success fw-bold">
            {{ row.active_items }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="STATUS">
            <p class="m-0 fw-bold d-flex align-items-center justify-start" [ngStyle]="{
                color: !row.isClosed ? 'green' : row.isClosed ? 'red' : null
              }">
              <span class="material-icons mr-1 fs-16">
                fiber_manual_record </span>{{ !row.is_closed ? "ACTIVE" : "CLOSED" }}
            </p>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onNewsletterClick(row)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>