<div class="mailbox-container" [class.mailbox-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="mailbox-sidenav-container" autosize>
    <mat-sidenav class="mailbox-sidenav" #sidenav [opened]="!hideTopbar" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches">
      <ng-container>
        <app-sidenav></app-sidenav>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mailbox-toolbar" *ngIf="!hideTopbar">
        <button mat-icon-button (click)="toggle()" *ngIf="!enableBackButton">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button (click)="onBackClick()" *ngIf="enableBackButton">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 class="mailbox-app-name fs-18">{{title}}</h1>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
          style="margin-right: 36px; min-width: 80px;">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 8px;">account_circle
          </mat-icon>{{currentUser?.name}}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- LOADER TEMPLATE -->
  <div class="loader-parent" *ngIf="isLoading">
    <div class="spinner loader">
      <div class="blue-spinner"></div>
      <div class="gray-spinner"></div>
    </div>
  </div>
  <!-- /LOADER TEMPLATE -->
</div>