:host {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #535763;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: #060606;
  font-weight: 500;
}

.text-muted {
  color: #6c757d !important;
}

.spacer {
  flex: 1 1 auto;
}


.sideNav {
  border: none;
  background: red;
  width: 0px;
  min-width: 0px !important;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.mailbox-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.mailbox-is-mobile .mailbox-toolbar {
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid #dedede;
}

h1.mailbox-app-name {
  margin-left: 8px;
}

.mailbox-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.mailbox-sidenav {
  height: 100vh;
}

// .mat-drawer {
//   min-width: 250px;
// }

.mailbox-is-mobile .mailbox-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


.loader-parent {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: block;
  opacity: 0.9;
  z-index: 99999999;
  text-align: center;
  background: #ffff;

  &.loader-div {
    position: absolute;
    z-index: 99;
  }

  .loader {
    position: inherit;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@-ms-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@keyframes spinner_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spinner_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
  }
}

@-ms-keyframes spinner_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
  }
}

.spinner {
  position: relative;
}

.spinner div {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  border: 2px solid #2196f3;
  border-color: #2196f3 transparent #2196f3 transparent;
  -webkit-animation: spinner 1.7s linear infinite;
  animation: spinner 1.7s linear infinite;
  -ms-animation: spinner 1.7s linear infinite;
}

.spinner .gray-spinner {
  width: 16px;
  height: 16px;
  top: 15px;
  left: 15px;
  border-color: transparent #ccc transparent #ccc;
  -webkit-animation: spinner_reverse 1.7s linear infinite;
  animation: spinner_reverse 1.7s linear infinite;
  -ms-animation: spinner_reverse 1.7s linear infinite;
}

.alert {
  padding: 0.25rem !important;
}

.spinner {
  background: "#fff";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #2196f3;
  border-radius: 50%;
  -webkit-transform: translate(-56.5px, -56.5px) scale(0.565) translate(56.5px, 56.5px);
  transform: translate(-56.5px, -56.5px) scale(0.565) translate(56.5px, 56.5px);
  -ms-transform: translate(-56.5px, -56.5px) scale(0.565) translate(56.5px, 56.5px);
}
