<div class="not-relevant-container container">
  <div class="chips-selection-container">
    <mat-form-field appearance="outline" style="width: '50%'">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="News" #input />
    </mat-form-field>
  </div>
  <div class="table-container">
    <div class="mat-elevation-z0 px-2">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            DATE
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="DATE">
            {{ row.newsletter_id.received_date | date: "MMM d" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            TITLE
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="TITLE">
            {{ row.title }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="newsletter_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            NEWSLETTER
          </mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="navigateTo(row)" data-label="NEWSLETTER">
            <button mat-stroked-button color="primary">View</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateTo(row)"></mat-row>

        <!-- <mat-row class="mat-row" *matNoDataRow>
          <mat-cell class="mat-cell alert alert-danger">No data found</mat-cell>
        </mat-row> -->
      </mat-table>

      <mat-paginator [length]="total" [pageSizeOptions]="[50, 100]"></mat-paginator>
    </div>
  </div>
</div>