@import "../../../assets/styles/variables.scss";

.not-relevant-container {
  .chips-selection-container {
    padding: 12px 16px 0 12px;
    align-items: center;
    justify-content: space-between;

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: white !important;
      padding-bottom: 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }

  .list-item-date {
    font-size: 12px !important;
    color: $warning !important;
  }

  .mat-list-item {
    cursor: pointer !important;
  }

  .mat-list-item:hover {
    background-color: #f4f6f8 !important;
  }

  ::ng-deep.mat-list-item-content {
    padding: 0 8px !important;
  }

  @media only screen and (min-width: 769px) {
    .mat-column-title {
      flex: none;
      width: 80% !important;
    }

    .mat-column-date {
      flex: none;
      width: 10% !important;
    }

    .mat-column-newsletter_id {
      flex: none;
      width: 10% !important;
    }
  }
}
