<div class="reports-container">
  <div fxLayout="row" fxLayout.xs="column" class="filter mat-elevation-z0 px-2">
    <div class="repWidth">
      <mat-form-field appearance="legacy" class="w-50">
        <mat-label>Start Date</mat-label>
        <input matInput (focus)="picker1.open()" (click)="picker1.open()" [matDatepicker]="picker1" id="start_date"
          [(ngModel)]="startDate" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="repWidth">
      <mat-form-field appearance="legacy" class="w-50">
        <mat-label>End Date</mat-label>
        <input matInput (focus)="picker2.open()" (click)="picker2.open()" [matDatepicker]="picker2" id="end_date"
          [(ngModel)]="endDate" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button color="primary" (click)="handleFilter()" style="width: 200;">Filter</button>
    </div>
  </div>

  <div class="container unclassified-container">
    <div class="table-container">
      <div class="mat-elevation-z0 px-2">
        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div>
        <mat-table [dataSource]="dataSource" matSort class="w-100">
          <ng-container matColumnDef="activity_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Date
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Date">
              {{ row.activity_date }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              User
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="User">
              {{row.user_id.name}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="entity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Entity
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Entity">
              {{ row.entity}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="field_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Field Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Field Name">
              {{ row.field_name}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="old_value">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Old Value
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Old Value">
              {{row.field_name === "status_id" ? (row.old_value === "1" ? "Unclassified" : (row.old_value === "2" ? "Relevant" : "Not Relevant")): row.old_value}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="new_value">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              New Value
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="New Value">
              {{row.field_name === "status_id" ? (row.new_value === "1" ? "Unclassified" : (row.new_value === "2" ? "Relevant" : "Not Relevant")): row.new_value}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="operation_type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Operation Type
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Operation Type">
              {{row.operation_type}}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [length]="total" [pageSize]="limit" [pageIndex]="page" [pageSizeOptions]="[50, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>