.snackbar {
  width: 300px;
  margin-left: -125px;
  color: '#ccc';
  text-align: left;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translate(-5%, -50%);
  word-wrap: break-word;
  max-width: 300px;
  display: flex;
  align-items: center;
  max-height: 100px;
  height: auto;
  opacity: 1;
  background: '#2196f3';
  z-index: 99999999999999;
  color: '#fff';
  letter-spacing: 1px;
  border-radius: 6px;

  .icon-close1:before {
    font-size: 7pt;
  }

  .fa-check-circle,
  .fa-times,
  .fa-info,
  .fa-warning,
  .fa-envelope-o {
    font-size: 25pt;
    margin: 0px 4px;
  }

  .fa-check-circle:before {
    color: #71a031;
  }

  .fa-times:before {
    color: #be1e2d;
  }

  .fa-info:before {
    color: #00aeef;
  }

  .fa-warning:before {
    color: #f39c13;
  }

  .fa-envelope-o:before {
    color: #2061ad;
  }

  &.success {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    // border-top: 6px solid #71a031;

    h3 {
      color: #71a031;
    }
  }

  &.error {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    // border-top: 6px solid #be1e2d;

    h3 {
      color: #be1e2d;
    }
  }

  &.info {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    // border-top: 6px solid #00aeef;

    h3 {
      color: #00aeef;
    }
  }

  &.warning {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    // border-top: 6px solid #f39c13;

    h3 {
      color: #f39c13;
    }
  }

  &.message {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    // border-top: 6px solid #2061ad;

    h3 {
      color: #2061ad;
    }
  }

  .message-list {
    flex: 1 1 calc(90%);
    margin: 0px;

    h3 {
      font-size: 14pt;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    p {
      font-size: 9pt;
    }
  }

  .fa-close {
    display: inline-flex;
    cursor: pointer;
    top: 15px;
    position: absolute;
    right: 10px;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 5%;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 5%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 5%;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 5%;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

