
<div *ngIf="showAlert" class="snackbar shadow-lg {{ getAlertType(alert).message }}">
  <div class="message-list">
    <p class="text-white text-center p-3 mb-0" style="font-size: 18px;;">
      {{ alert.message }}
    </p>
  </div>
</div>
