@media only screen and (min-width: 769px) {
  .mat-column-description {
    flex: none;
    width: 25%;
    margin-right: 16px;
  }

  .mat-column-assigned_user_id {
    flex: none;
    width: 15%;
  }

  .mat-column-due_date {
    flex: none;
    width: 10%;
  }

  .mat-column-evidence_file_url {
    flex: none;
    width: 15%;
  }

  .mat-column-status_id {
    flex: none;
    width: 15%;
  }
}
