<div class="container">
  <mat-card class="example-card">
    <mat-card-header class="d-flex align-items-center justify-between border-left-accent">
      <mat-card-title>Actions</mat-card-title>
      <div>
        <button mat-flat-button color="primary" class="mr-2" (click)="onAddAction()">Add Action</button>
      </div>
    </mat-card-header>
  </mat-card>
  <div class="table-container">
    <div class="mat-elevation-z0">
      <mat-table [dataSource]="dataSource" matSort class="w-100">

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="ID"> {{element.id}} </mat-cell>
        </ng-container> -->

        <!-- Name Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> DESCRIPTION </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="DESCRIPTION"> {{element.description}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="assigned_user_id">
          <mat-header-cell *matHeaderCellDef> ASSIGNED USER </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="ASSIGNED USER"> {{element.user ? element.user.name : ""}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="due_date">
          <mat-header-cell *matHeaderCellDef> DUE DATE</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="DUE DATE"> {{element.due_date | date: 'MMM d'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="evidence_file_url">
          <mat-header-cell *matHeaderCellDef> EVIDENCES </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="EVIDENCES">
            <button *ngIf="element.evidence_file_url" mat-button color="primary"
              (click)="downLoadFile(element.evidence_file_url)">View File</button>
            <label *ngIf="!element.evidence_file_url"> N/A</label>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> EDIT </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="EDIT">
            <button mat-stroked-button color="primary" (click)="edit(element)">Edit</button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> DELETE </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="DELETE">
            <button mat-stroked-button color="primary" (click)="delete(element.id)">Delete</button>
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status_id">
          <mat-header-cell *matHeaderCellDef> STATUS </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="STATUS">
            <div>
              <button mat-stroked-button color="primary" *ngIf="!isTaskComplete(element.status_id)"
                (click)="completeTask(element.id)">Complete Task</button>
              <mat-chip-list *ngIf="isTaskComplete(element.status_id)">
                <mat-chip>Completed</mat-chip>
              </mat-chip-list>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <!-- <mat-row class="mat-row" *matNoDataRow>
          <mat-cell class="mat-cell" colspan="4" class="alert alert-danger">No data found"
          </mat-cell>
        </mat-row> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>