.assessment-details-container {
  @media only screen and (min-width: 769px) {
    .mat-column-details {
      flex: none;
      width: 35%;
    }

    .mat-column-impact {
      flex: none;
      width: 35%;
    }

    .mat-column-edit {
      flex: none;
      width: 8%;
    }

    .mat-column-delete {
      flex: none;
      width: 8%;
    }

    .mat-column-actions {
      flex: none;
      width: 10%;
    }

    .mat-header-cell {
      padding-left: 4px !important;
    }
  }

  .actions {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    /* margin-top: 10px; */
    padding-top: 10px;
  }

  #assessment {
    padding: 0 16px 16px 32px;
  }

  #assessment td,
  #assessment th {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
  }

  #assessment tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #assessment tr:hover {
    background-color: #ddd;
  }

  #assessment th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    color: #173663;
    font-weight: bold;
    width: 25%;
  }
}
