<div class="assessment-details-container container">
  <div>
    <mat-card class="example-card">
      <mat-card-header class="d-flex align-items-center justify-between border-left-accent">
        <mat-card-title>{{ assessment?.title }}</mat-card-title>
        <mat-card-subtitle>Assessment</mat-card-subtitle>
      </mat-card-header>
      <mat-list>
        <table id="assessment">
          <tr>
            <th>Tracking No</th>
            <td>
              {{
                assessment?.assessment_no
                  ? assessment?.assessment_no
                  : "No ID found"
              }}
            </td>
          </tr>
          <tr>
            <th>Awareness Date</th>
            <td>{{ assessment?.awareness_date | date: "shortDate" }}</td>
          </tr>
          <tr>
            <th>Assessment Due Date</th>
            <td>
              {{
                assessment?.assessment_due_date
                  ? assessment?.assessment_due_date
                  : ""
              }}
            </td>
          </tr>
          <tr>
            <th>Region Impacted</th>
            <td>
              {{
                assessment?.region_impacted ? assessment?.region_impacted : ""
              }}
            </td>
          </tr>
          <tr>
            <th>Country Impacted</th>
            <td>
              {{
                assessment?.countries_impacted
                  ? assessment?.countries_impacted
                  : ""
              }}
            </td>
          </tr>
          <tr>
            <th>Function Impacted</th>
            <td>
              {{
                assessment?.function_impacted
                  ? assessment?.function_impacted
                  : ""
              }}
            </td>
          </tr>
          <tr>
            <th>Source</th>
            <td>
              {{ assessment?.source ? assessment?.source : "No ID found" }}
            </td>
          </tr>
          <tr>
            <th>file Url</th>
            <td>
              <button *ngIf="assessment?.file_url" type="button" (click)="downLoadFile(assessment?.file_url)">
                Download File
              </button>
            </td>
          </tr>
        </table>
      </mat-list>
    </mat-card>
    <div class="table-container">
      <!-- <div style="padding-top: 10px;">
           <mat-card-header class="d-flex align-items-center justify-between border-left-accent">
        <mat-card-title> {{this.actionsCount}} actions item found click view all action to view all items
          <button mat-stroked-button color="primary" class="mr-1" (click)="onViewActions()">View All Actions</button>
        </mat-card-title>
        </mat-card-header>
      </div> -->
      <div class="actions">
        <button mat-stroked-button color="primary" class="mr-1" (click)="onViewActions()">
          View All Actions({{ this.actionsCount }} item)
        </button>
        <button mat-raised-button color="primary" (click)="onAddAssessment()">
          Add Requirement
        </button>
      </div>
      <div class="mat-elevation-z0">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- Position Column -->
          <!-- <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> REQ ID. </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="REQ ID.">
              {{ element.id }}
            </mat-cell>
          </ng-container> -->

          <!-- Name Column -->
          <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef> REQUIREMENT </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="REQUIREMENT">
              {{ element.details }}
            </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="impact">
            <mat-header-cell *matHeaderCellDef> IMPACT </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="IMPACT">
              {{ element.impact }}
            </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="EDIT">
              <button mat-stroked-button color="primary" (click)="onEdit(element)">
                Edit
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="DELETE">
              <button mat-stroked-button color="primary" (click)="onDelete(element.id)">
                Delete
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="ACTIONS">
              <button mat-stroked-button color="primary" (click)="onViewActions(element.id)">
                View Actions
              </button>
            </mat-cell>
          </ng-container>

          <!-- Row shown when there is no matching data. -->
          <!-- <mat-row class="mat-row" *matNoDataRow>
            <mat-cell class="mat-cell" colspan="4" class="alert alert-danger">No data found"
            </mat-cell>
          </mat-row> -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>