@import "../../../assets/styles/variables.scss";

.unclassified-container {
  .chips-selection-container {
    padding: 12px 16px 0 12px;
    align-items: center;
    justify-content: space-between;

    .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: white !important;
      padding-bottom: 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }

  .mat-cell {
    padding: 4px 2px !important;
  }

  .mat-row {
    cursor: pointer;
    font-size: 13px;
  }

  .mat-row:hover {
    background-color: #f4f6f8;
    box-shadow: 0px 0px 4px 2px #fafafa;
    border-radius: 6px;
    border: 1px solid #808080;
  }

  .mat-column-title {
    flex: none;
    width: 400px;
  }

  @media only screen and (min-width: 769px) {
    .mat-column-title {
      flex: none;
      width: 60% !important;
      margin-right: 20px;
    }

    .mat-column-date {
      flex: none;
      width: 10% !important;
    }

    .mat-column-newsletter_id {
      flex: none;
      width: 10% !important;
    }

    .mat-column-status_id {
      flex: none;
      width: 20% !important;
    }
  }
}
