<div class="container unclassified-container">
  <div class="chips-selection-container">
    <mat-form-field appearance="outline" style="width: '50%'">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="News" #input />
    </mat-form-field>
  </div>
  <div class="table-container">
    <div class="mat-elevation-z0 px-2">
      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>
      <mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            DATE
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="DATE">
            {{ row.newsletter_id.received_date | date: "MMM d" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            TITLE
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="TITLE">
            {{ row.title }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="newsletter_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span *ngIf="newsletterId === ''">NEWSLETTER</span>
          </mat-header-cell>

          <mat-cell *matCellDef="let row" data-label="NEWSLETTER">
            <button *ngIf="newsletterId === ''" mat-stroked-button color="primary"
              (click)="onViewNewsletter($event, row)">
              View{{ newsletterId }}
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            ACTION
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="ACTION">
            <button mat-stroked-button color="danger" (click)="onRelevantClick($event, row.id)" class="mr-1">
              Relevant
            </button>
            <button mat-stroked-button color="danger" (click)="onNotRelevantClick($event, row.id)">
              Not Relevant
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateTo(row)"></mat-row>

        <!-- <mat-row class="mat-row" *matNoDataRow>
          <mat-cell class="mat-cell alert alert-danger">No data found</mat-cell>
        </mat-row> -->
      </mat-table>

      <mat-paginator [length]="total" [pageSize]="limit" [pageIndex]="page" [pageSizeOptions]="[50, 100]">
      </mat-paginator>
    </div>
  </div>
</div>