.mailbox-sidenav-container {
  overflow-x: hidden;

  ul {
    padding-left: 0;
    list-style: none;
  }

  .mailbox-inner-navbar li>a {
    text-align: left;
    padding: 10px 20px;
    font-weight: 500;
    margin: 5px 0 0;
    border-radius: 2px;
    display: block;
    position: relative;
  }

  .mailbox-text {
    margin-left: 8px;
    font-size: 15px;
    color: #959DAC;
    cursor: pointer;
  }

  .mailbox-inner-navbar-item {
    cursor: pointer;
  }

  .mailbox-inner-navbar-item:hover {
    color: #fff !important;
  }

  .mailbox-text:hover {
    color: #fff !important;
    font-weight: 600;
  }

  .mailbox-icon:hover {
    color: #fff !important;
  }

  .mailbox-content {
    display: flex !important;
    align-items: center !important;

  }

  .mailbox-content:hover {
    color: #fff !important;
    font-size: 17;
    font-weight: 600;
  }

  .mailbox-inner-navbar li>a>.mailbox-icon {
    font-size: 24px;
    padding: 0;
    margin-right: 8px;
    border-radius: 4px;
    width: 24px;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    height: 24px;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #959DAC;
  }

  .active {
    color: white;
    cursor: pointer;
    font-weight: 600;
  }

  .activeIcon {
    color: #fff !important;
    filter: brightness(300%) !important;
  }

  .logo {
    padding: 14px 24px 2px 24px;
    text-align: center;

    .logo-text {
      font-weight: 600;
      font-size: 24px;
      color: white;
    }
  }

  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
