<div class="mailbox-sidenav-container user-profile">
  <!-- <div class="logo">
  <h1 class="logo-text">PINNAPT</h1>
  </div>
  <mat-divider></mat-divider> -->
  <ul class="mailbox-inner-navbar">
    <li class="mailbox-inner-navbar-item">
      <a class="mailbox-content d-flex align-items-center ml-1">
        <h1 class="logo-text text-white" style="color: white; margin-bottom: 0">
          R
        </h1>
        <h1 class="logo-text" style="color: white; margin-bottom: 0" *ngIf="isExpanded">
          INEXT
        </h1>
      </a>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <ul class="mailbox-inner-navbar">
    <li class="mailbox-inner-navbar-item" *ngFor="let folder of folders; let i = index"
      (click)="onNavigateTo(folder.path, i)">
      <a class="mailbox-content d-flex align-items-center ml-1" [class.active]="selectedIndex == i">
        <img [class.activeIcon]="selectedIndex == i" src="{{ folder.icon }}" />
        <!-- <mat-icon class="mailbox-icon" [class.activeIcon]="selectedIndex==i">{{ folder.icon }}</mat-icon> -->
        <span class="mailbox-text" [class.active]="selectedIndex == i" *ngIf="isExpanded">{{ folder.name }}</span>
      </a>
    </li>
  </ul>

  <ul class="mailbox-inner-navbar">
    <li style="margin-top: 120px">
      <a class="mailbox-content d-flex align-items-center ml-1" (click)="isExpanded = !isExpanded">
        <mat-icon *ngIf="!isExpanded" style="color: white">chevron_right</mat-icon>
        <mat-icon *ngIf="isExpanded" style="color: white">chevron_left</mat-icon>
      </a>
    </li>
  </ul>
</div>