.chips-selection-container {
  padding: 12px 16px 0 12px;
}

.chips-selection-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white !important;
  padding-bottom: 0;
}
 
@media only screen and (min-width: 769px) {
  .mat-column-newsitem_id {
    flex: none;
    width: 30% !important;
    margin-right: 20px;
  }

  .mat-column-comments {
    flex: none;
    width: 30% !important;
  }

}
