<div class="container">
  <div class="chips-selection-container">
    <mat-form-field appearance="outline" style="width: '50%'">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="News" #input />
    </mat-form-field>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip [selected]="selectedTask === 'All'" (click)="checkStatus('All')">All</mat-chip>
      <mat-chip [selected]="selectedTask === 'Active'" (click)="checkStatus('Active')">Active</mat-chip>
      <mat-chip [selected]="selectedTask === 'Completed'" (click)="checkStatus('Completed')">Completed</mat-chip>
    </mat-chip-list>
  </div>
  <div class="table-container pt-0">
    <div class="mat-elevation-z0">
      <table mat-table [dataSource]="tasksDataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="newsitem_id">
          <mat-header-cell *matHeaderCellDef> NEWS ITEM </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="NEWS ITEM">
            <a routerLink="/newsitems/{{ element.newsitem_id.id }}">{{ element.newsitem_id.title }}
            </a>
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="comments">
          <mat-header-cell *matHeaderCellDef> COMMENTS </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="COMMENTS">
            {{ element.comments }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="start_date">
          <mat-header-cell *matHeaderCellDef> START DATE </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="START DATE">
            {{ element.start_date | date: "MMM d" }}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="due_date">
          <mat-header-cell *matHeaderCellDef> DUE DATE </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="DUE DATE">
            {{ element.due_date | date: "MMM d" }}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> ACTIONS </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="ACTIONS">
            <div>
              <!-- <button
                mat-stroked-button
                color="primary"
                *ngIf="element.status_id === 1"
                (click)="completeTask(element.id)"
              >
                Complete Task
              </button> -->
              <mat-chip-list *ngIf="isTaskComplete(element.status_id)">
                <mat-chip>Completed</mat-chip>
              </mat-chip-list>
              <mat-chip-list *ngIf="!isTaskComplete(element.status_id)">
                <mat-chip color="accent" selected>Pending</mat-chip>
              </mat-chip-list>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateToNewsitem(row)"></mat-row>
      </table>
    </div>
  </div>
</div>