@import "../src/assets/styles/variables.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  overflow-x: hidden;
  font-size: 16px;
}

.text-white {
  color: white;
}

.border-bottom {
  border-bottom: 1px solid #dedede;
}

.text-uppercase {
  text-transform: uppercase !important;
}

p {
  font-size: 13px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.w-50 {
  width: 50%;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: bold !important;
}

.custom-bottom-sheet-width {
  width: 800px;
  height: 500px;
  overflow-y: auto;
}

textarea {
  font-size: 16px !important;
}

.info {
  color: #919191;
  font-size: 15px;

  label {
    font-weight: bold;
    color: #333;
  }
}

.material-icons {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px transparent;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: inset 0 0 4px transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;

  &:horizontal {
    height: 10px;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333;
  font-size: 14px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #e7e7e7;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

::-moz-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: transparent;
}

::-moz-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;

  &:horizontal {
    height: 10px;
  }
}

// input {
//     width: 84%;
//     /* margin: 10px 0px; */
//     padding: 12px;
//     /* margin-top: 20px; */
//     /* margin-bottom: 10px; */
//     /* background: #1d2126; */
//     color: #333;
//     border: 1px solid #333;
// }

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #3f51b5 !important;
}

.mat-cell {
  padding: 4px !important;
  white-space: nowrap;
  overflow: hidden;
}

.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 99999999999;

  .loader {
    position: absolute;
    top: 40%;
    z-index: 99999999999;
    left: 50%;
  }
}

.w-100 {
  width: 100% !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-center {
  align-items: center !important;
}

.align-items-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.m-0 {
  margin: 0 !important;
}

.my-1 {
  margin: 8px 0 !important;
}

.my-2 {
  margin: 16px 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mx-1 {
  margin: 0 8px;
}

.ml-1 {
  margin-left: 8px !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mb-2 {
  margin-bottom: 16px;
}

.p-0 {
  padding: 0px !important;
}

.p-1 {
  padding: 8px !important;
}

.p-2 {
  padding: 16px !important;
}

.p-3 {
  padding: 24px !important;
}

.p-5 {
  padding: 32px !important;
}

.px-1 {
  padding: 0 8px;
}

.px-2 {
  padding: 0 16px;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.footer-action {
  border-top: 1px solid #dedede;
}

.w-100px {
  width: 100px !important;
}

.border {
  border: 1px solid #dedede;
}

.shadow-none {
  box-shadow: none !important;
}

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #eef5f9;
  height: calc(100vh - 64px);
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header,
.mat-vertical-stepper-header {
  padding: 12px !important;
}

.mat-drawer {
  background: linear-gradient(0deg, #173663, #173663);
}

.mat-toolbar.mat-primary {
  background: #eef5f9 !important;
  color: #455a64 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #dedede;
}

.mat-standard-chip {
  border-radius: 6px !important;
}

.generic-card {
  margin: 16px;
  padding: 16px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  flex-direction: column;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  height: 100%;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.mat-header-cell {
  text-transform: uppercase !important;
  font-size: 14px !important;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: #ff8203 !important;
}

.text-success {
  color: $success;
}

.text-danger {
  color: $danger;
}

.text-warning {
  color: $warning;
}

.text-info {
  color: $info;
}

.text-light {
  color: $light;
}

.text-dark {
  color: #111;
}

.text-muted {
  color: $muted;
}

.text-white {
  color: #fff;
}

.border-left-accent {
  border-left: 4px solid #ffac0b;
}

.border-bottom {
  border-bottom: 1px solid #dedede;
}

mat-header-cell {
  padding-left: 0 !important;
}

@media screen and (max-width: 768px) {
  .table-container {
    margin: 4px !important;
    padding: 4px !important;
  }

  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #dedede;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #dedede;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    text-align: justify;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 16px;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 2%;
  }
}

.table-container {
  flex: 1 1 0%;
  box-sizing: border-box;
  flex-direction: column;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 0 8px;
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  margin: 16px;
  border-radius: 4px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  width: auto;
}
