
@import '~@angular/material/theming';

// Variables
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@300;400;500;600');
@import "colors";

$bodyfont: 'Mada',
sans-serif;
$headingfont: 'Mada',
sans-serif;


/*Material Theme Colors*/
$mat-myapp-primary: (
   50 : #e3e7ec,
   100 : #b9c3d0,
   200 : #8b9bb1,
   300 : #5d7292,
   400 : #3a547a,
   500 : #173663,
   600 : #14305b,
   700 : #112951,
   800 : #0d2247,
   900 : #071635,
   A100 : #6e93ff,
   A200 : #3b6cff,
   A400 : #0846ff,
   A700 : #003bee,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

$mat-myapp-accent: (
  50 : #fff5e2,
  100 : #ffe6b6,
  200 : #ffd685,
  300 : #ffc554,
  400 : #ffb830,
  500 : #ffac0b,
  600 : #ffa50a,
  700 : #ff9b08,
  800 : #ff9206,
  900 : #ff8203,
  A100 : #ffffff,
  A200 : #fff8f2,
  A400 : #ffdcbf,
  A700 : #ffcea6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  ));

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

@include mat-core();

$custom-typography: mat-typography-config($font-family: 'Mada, sans-serif'
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);

// Default Theme
@include angular-material-theme($theme);

// Dark Theme

/*Theme Colors*/

$topbar: #eef5f9;
$sidebar: #fff;
$sidebar-white: #e5edef;
$sidebar-alt: #f2f6f8;
$bodycolor: #eef5f9;
$headingtext: #455a64;
$bodytext: #67757c;
$sidebar-text: #607d8b;
$sidebar-icons: #99abb4;

$font-16: 16px;

$light-text: #a6b7bf;
$themecolor: #173663;
$themecolor-alt: #26c6da;
$themecolor-dark: #173663;

/*bootstrap Color*/
$danger: #fc4b6c;
$success: #26c6da;
$warning: #ffb22b;
$primary: #173663;
$info: #1e88e5;
$inverse: #2f3d4a;
$muted: #99abb4;
$dark: #263238;
$light: #f2f4f8;
$extra-light: #ebf3f5;
$secondary: #727b84;

/*Light colors*/
$light-danger: #f9e7eb;
$light-success: #e8fdf8;
$light-warning: #fff8ec;
$light-primary: #f1effd;
$light-info: #e3f3fd;
$light-inverse: #f6f6f6;
$light-megna: #e0f2f4;

$danger-dark: #e6294b;
$success-dark: #1eacbe;
$warning-dark: #e9ab2e;
$primary-dark: #173663;
$info-dark: #028ee1;
$red-dark: #d61f1f;
$inverse-dark: #232a37;
$dark-transparent: rgba(0, 0, 0, 0.05);

/*Normal Color*/
$white: #ffffff;
$red: #fb3a3a;
$yellow: #a0aec4;
$purple: #7460ee;
$blue: #02bec9;
$megna: #00897b;

/*Extra Variable*/
$rgt: right;
$lft: left;
$border: rgba(120, 130, 140, 0.13);
$table-border: #f3f1f1;
$card-brd: #d7dfe3;
$dark-text: #848a96;
$radius: 4px;
$form-brd: #d9d9d9;


//== Viewports

$extra-small: 576px;
$small: 576px;
$medium: 768px;
$normal: 1024px;
$large: 992px;
$extra-large: 1200px;

//== Sidebar

$sidebar-width: 210px;
$sidebar-font-color: $gray-08;
$sidebar-font-color-active: $dark-grey;
$sidebar-background-color-active: $blue-white;
$sidebar-background-color-hover: $blue-white;
$sidebar-icon-color-active: $blue;
$sidebar-icon-color: $gray-06;
$sidebar-title-color: $sidebar-font-color;
$sidebar-circle-color: $light-grey;

//== Material Card
//

$card-font-color: $dark-grey;
$card-title-font-color: $grey;
//== Material Toolbar

$toolbar-title-font-color: $light-grey;
$toolbar-button-font-color: $white;
$toolbar-button-background-color: $pink;
$toolbar-button-background-color-active: $dark-pink;

//== Material Sidebar Content

$sidebar-content-padding: 48px;

//== Material Tabs

$tabs-header-font-color: $light-grey;
$tabs-header-font-color-active: $blue;
$tabs-ink-bar-color: $blue;


//== Apex Chart X axis tooltip

$chart-tooltip-background-color: $blue;
$chart-tooltip-border-color: $blue;
$chart-tooltip-font-color: $white;

//== Scroll bar

$scrollbar-track-color: $light-grey;
$scrollbar-track-piece-color: $white;
$scrollbar-thumb-color: $light-grey;
$scrollbar-corner-color: $light-grey;

//== Header

$header-background-color: $blue;
$header-height: 64px;
$header-button-background-color: $blue;
$header-button-background-color-hover: $black-08;
$header-button-font-color: $white;
$header-title-font-color: $white;

//== Footer

$footer-height: 48px;
$footer-width: calc(100% - #{$sidebar-content-padding});
$footer-link-color: $blue;
$footer-icon-color: $gray-06;
$footer-icon-background-color-hover: $black-08;

//== Settings menu element

$settings-button-background-color: $white;
$settings-button-background-color-hover: $blue;
$settings-button-color: $light-grey;
$settings-button-color-hover: $white-35;
$settings-menu-font-color: $dark-grey;
$settings-menu-background-color-hover: $blue-white;
