<div class="container">
  <div *ngIf="isWorkflowInitiated" class="border-bottom">
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step [completed]="workflowStateId >= workflowState.id" *ngFor="let workflowState of workflowStates">
        <ng-template matStepLabel style="color: #3a547a">{{workflowState.name}}</ng-template>
      </mat-step>
    </mat-horizontal-stepper>

  </div>
  <div fxLayout="column">
    <mat-card>
      <div class="d-flex align-items-center justify-between">
        <div>
          <div class="d-flex align-end justify-start">
            <mat-card-header>
              <mat-card-title class="text-uppercase">{{newsItem?.status_id.status}}</mat-card-title>
              <mat-card-subtitle class="text-secondary">Status</mat-card-subtitle>
            </mat-card-header>

            <mat-card-header *ngIf="newsItem?.status_id.id === 1">
              <mat-card-title>{{getClassification()}}</mat-card-title>
              <mat-card-subtitle class="text-secondary">Classification</mat-card-subtitle>
            </mat-card-header>

            <!-- <mat-card-header *ngIf="newsItem?.status_id.id === 1 && isWorkflowInitiated">
              <mat-card-title>{{getWorkflowNameFromId(newsItem?.workflow_state_id)}}</mat-card-title>
              <mat-card-subtitle>Stage</mat-card-subtitle>
            </mat-card-header> -->
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button mat-raised-button class="mr-1" color="primary" (click)="onChangeStatus('relevant')"
            *ngIf="newsItem?.status_id.id === 3 || newsItem?.status_id.id === 2">Relevant</button>
          <button mat-raised-button class="mr-1" color="primary" [disabled]="!checkIfActionButtonEnabled()"
            (click)="onIntitateAssessment()"
            *ngIf="workflowStateId == 1 && newsItem?.status_id.id === 1 && isImpactAssessmentRequired">Initiate
            Assessment</button>
          <button mat-raised-button class="mr-1" color="primary" [disabled]="!checkIfActionButtonEnabled()"
            *ngIf="workflowStateId == 2 && newsItem?.status_id.id === 1" (click)="onChangeStatus('review')">Submit For
            Review</button>
          <button mat-raised-button class="mr-1" color="primary" [disabled]="!checkIfActionButtonEnabled()"
            *ngIf="workflowStateId == 3 && newsItem?.status_id.id === 1" (click)="onChangeStatus('approve')">Submit For
            Approval</button>
          <button mat-raised-button class="mr-1" color="primary" [disabled]="!checkIfActionButtonEnabled()"
            *ngIf="workflowStateId == 4 && newsItem?.status_id.id === 1"
            (click)="onChangeStatus('implementation')">Submit For
            Implementation</button>
          <button mat-raised-button class="mr-1" color="primary" [disabled]="!checkIfActionButtonEnabled()"
            *ngIf="workflowStateId == 5 && newsItem?.status_id.id === 1" (click)="onChangeStatus('complete')">Mark as
            Complete</button>
          <button mat-stroked-button class="mr-1" color="danger" (click)="onChangeStatus('not-relevant')"
            *ngIf="newsItem?.status_id.id === 3 || (newsItem?.status_id.id === 1 && !isWorkflowInitiated)">Not
            Relevant</button>
          <button mat-stroked-button class="mr-1" *ngIf="workflowStateId >= 2" (click)="onViewAssessment()">View
            Assessment</button>
        </div>
      </div>
    </mat-card>

    <mat-card *ngIf="this.tasks?.length" class="mb-0">

      <mat-card-header class="border-left-accent">
        <mat-card-title class="text-primary">Task History</mat-card-title>
      </mat-card-header>

    </mat-card>

    <div class="table-container" *ngIf="this.tasks?.length">
      <div class="mat-elevation-z0">
        <mat-table [dataSource]="tasksDataSource" matSort>

          <ng-container matColumnDef="user_assigned">
            <mat-header-cell *matHeaderCellDef> USER ASSIGNED </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="USER ASSIGNED">{{element.user.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="start_date">
            <mat-header-cell *matHeaderCellDef> START DATE </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="START DATE"> {{element.start_date | date: 'MMM d'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="due_date">
            <mat-header-cell *matHeaderCellDef> DUE DATE </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="DUE DATE"> {{element.due_date | date: 'MMM d'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status_id === 1 ? "Active" : "Completed"}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="document">
            <mat-header-cell *matHeaderCellDef> Document Url </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-raised-button *ngIf="element.document_url" class="mr-1" color="danger"
                (click)="downLoadFile(element.document_url)">Download File</button> </mat-cell>
          </ng-container>

          <ng-container matColumnDef="comments">
            <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.comments}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          <!-- <mat-row class="mat-row" *matNoDataRow>
            <mat-cell class="mat-cell alert alert-danger">No activities found</mat-cell>
          </mat-row> -->
        </mat-table>
      </div>
    </div>
  </div>

  <mat-card>
    <mat-card-header class="border-left-accent">
      <mat-card-title class="text-primary">{{newsItem?.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="pt-0">
      <h4>{{newsItem?.description}}</h4>
      <a [href]="newsItem?.detail_link" target="_blank">{{newsItem?.detail_link_name}}</a>
    </mat-card-content>
  </mat-card>
</div>