<div class="container form-container">
  <mat-card style="width: 50%" class="mat-elevation-z0">
    <mat-card-header class="form-header">
      <mat-card-title class="m-0">Change Status Of News Item</mat-card-title>
    </mat-card-header>
    <form [formGroup]="relevantForm">
      <mat-card-content style="padding: 12px 24px">
        <p *ngIf="!workflowId">
          <mat-form-field appearance="legacy">
            <mat-label>News Item Classification</mat-label>
            <mat-select id="assessments" formControlName="assessments" multiple [errorStateMatcher]="matcher">
              <mat-option *ngFor="let assessment of assessmentList" [value]="assessment.id">{{ assessment.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="relevantForm.controls.assessments.hasError('required')">
              Classification is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <!-- <p>
          <mat-form-field appearance="legacy">
            <mat-label>Intiation</mat-label>
            <mat-select id="intiation" formControlName="intiation">
              <mat-option *ngFor="let item of workflows" [value]="item.value">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p> -->
        <p class="d-flex align-items-center justify-between">
          <mat-form-field appearance="legacy" class="w-50">
            <mat-label>Start Date</mat-label>
            <input matInput (blur)="compareTwoDates()" [errorStateMatcher]="matcher" (focus)="picker1.open()"
              (click)="picker1.open()" [matDatepicker]="picker1" id="start_date" formControlName="start_date" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="relevantForm.controls.start_date.hasError('required')">
              Start date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="w-50">
            <mat-label>End Date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [disabled]="validateEndDate()" [errorStateMatcher]="matcher"
              (focus)="picker2.open()" (click)="picker2.open()" [matDatepicker]="picker2" id="end_date"
              formControlName="end_date" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="relevantForm.controls.end_date.hasError('required')">
              End date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <!-- <input type="text" placeholder="Country Impacted" aria-label="Number" matInput id="countries_impacted"
                      formControlName="countries_impacted"> -->
            <mat-select id="countries_impacted" placeholder="Country Impacted" formControlName="countries_impacted"
              [errorStateMatcher]="matcher">
              <mat-option *ngFor="let country of countries" [value]="country.label">{{ country.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="
                relevantForm.controls.countries_impacted.hasError('required')
              ">
              Countries impacted are <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Region impacted</mat-label>
            <input [errorStateMatcher]="matcher" matInput placeholder="Region Impacted" id="region"
              formControlName="region_impacted" />
            <mat-error *ngIf="relevantForm.controls.region_impacted.hasError('required')">
              Region impacted is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Process impacted</mat-label>
            <mat-select id="process" formControlName="process" multiple [errorStateMatcher]="matcher">
              <mat-option *ngFor="let process of processes" [value]="process.id">{{ process.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="relevantForm.controls.process.hasError('required')">
              Process impacted is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <input type="text" [errorStateMatcher]="matcher" placeholder="Assign to user" aria-label="User" matInput
              id="assign_user" formControlName="assign_user" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUserName">
              <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
                {{ user.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="relevantForm.controls.assign_user.hasError('required')">
              User has to be <strong>assigned</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Comments</mat-label>
            <textarea [errorStateMatcher]="matcher" matInput placeholder="Action required immediately.." id="comments"
              formControlName="comments"></textarea>
            <mat-error *ngIf="relevantForm.controls.comments.hasError('required')">
              Comments is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <app-upload-files (removeUploadedFile)="removeUploadedFile()" (uploadedUrl)="onFileUploadComplete($event)">
          </app-upload-files>
        </p>
      </mat-card-content>
      <div style="
          background-color: #f4f6f8;
          border-top: 1px solid #dedede;
          padding: 4px;
        ">
        <mat-card-actions class="d-flex justify-end align-items-center">
          <button mat-flat-button (click)="onBackClick()">Cancel</button>
          <button mat-raised-button color="primary" class="ml-2" [disabled]="!relevantForm.valid" (click)="onSubmit()">
            Change Status
          </button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card>
</div>