<h2 mat-dialog-title>Add Action Item</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addActionForm">
    <p>
      <mat-form-field appearance="legacy">
        <input type="text" placeholder="Assign user" aria-label="User" matInput id="assigned_user"
          formControlName="assigned_user" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUserName">
          <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
            {{user.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="addActionForm.controls.assigned_user.hasError('required') ">
          User is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Due Date</mat-label>
        <input matInput (focus)="picker1.open()" (click)="picker1.open()" [matDatepicker]="picker1" id="due_date"
          formControlName="due_date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="addActionForm.controls.due_date.hasError('required') ">
          Due date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput id="description" formControlName='description'></textarea>
        <mat-error *ngIf="addActionForm.controls.description.hasError('required') ">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <app-upload-files [fileUrl]="uploadedUrl"  (removeUploadedFile)="removeUploadedFile()"
      (uploadedUrl)="onFileUploadComplete($event)"></app-upload-files>
    </p>
    <div class="d-flex align-items-center justify-content-center p-2">
      <button mat-stroked-button class="mr-2" (click)=_bottomSheetRef.dismiss()>Cancel</button>
      <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="!addActionForm.valid">{{editActionData &&  editActionData.id  ? 'Update Action' :'Add Action' }}</button>
    </div>
  </form>
</mat-dialog-content>
