<div class="container form-container">
  <div class="generic-card w-50">
    <mat-card-title>Format for generating tracking number</mat-card-title>
    <table id="assessment">
      <tr>
        <th>&#123;day&#125;</th>
        <td>Current day of the month</td>
      </tr>
      <tr>
        <th>&#123;month&#125;</th>
        <td>Current month</td>
      </tr>
      <tr>
        <th>&#123;year&#125;</th>
        <td>Current year</td>
      </tr>
      <tr>
        <th>&#123;time&#125;</th>
        <td>Time in HH:MM:SS format</td>
      </tr>
      <tr>
        <th>&#123;digits&#125;</th>
        <td>Length of random number digits</td>
      </tr>
      <tr>
        <th>&#123;string&#125;</th>
        <td>Length of random string</td>
      </tr>
    </table>
    <hr />
    <mat-form-field appearance="outline">
      <input type="text" id="format" name="format" matInput [(ngModel)]="format" />
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="onSetFormat()">
      Set Format
    </button>
  </div>
</div>