#assessment {
  // padding: 0 16px 16px 32px;
}

#assessment td,
#assessment th {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 4px;
}

#assessment tr:nth-child(even) {
  background-color: #f2f2f2;
}

#assessment tr:hover {
  background-color: #ddd;
}

#assessment th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  color: #173663;
  font-weight: bold;
  width: 25%;
}
